/* Markdown */
:root {
    --maincolor: #998fc7;
    --bordercl: #6c71c4;
    --callouctcolor: dodgerblue;
    --hovercolor: #998fc7;
    --lightText: #1f1f1f;
    --darkText: #ddd;
    --lightBg: #fff;
    --darkBg: #121212;
}

html {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI";
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 400;
    /* transition: all 0.5s ease-in-out; */
}

nav a {
    margin-left: 3px;
}

body {
    display: block;
    margin: 8px;
    background-color: var(--lightBg);
    /* transition: all 0.5s ease-in-out; */
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
    background: var(--maincolor);
    color: #fff;
}

.katex {
    font-size: 1.1em !important;
}

p {
    /* font-family: 'Inconsolata'; */
    line-height: 1.5;
}

b {
    font-weight: 600;
}

strong {
    font-weight: 600;
}

hr {
    border: 0;
    border-top: 3px dotted var(--bordercl);
    margin: 1em 0;
}

blockquote {
    counter-increment: thm-number 1;
    border: 1px solid #6CC493;
    color: var(--lightText);
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}

blockquote:not(.Proof) p b:first-of-type::after {
    content: " " counter(thm-number);
}

blockquote.Theorem {
    border: 1.5px solid #C46C9D;
}

blockquote.Lemma,
blockquote.Proposition {
    border: 1.5px solid dodgerblue;
}

blockquote.Definition
blockquote.Proof {
    border: none;
    border-left: 3px solid black;
}

a,
#dark-mode-toggle {
    /* border-bottom: 3px solid var(--maincolor); */
    color: inherit;
    text-decoration: none;
    border-bottom: solid 2px var(--lightText);

    /* fade in on hover */
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    /* ...and now for the proper property */
    transition: .2s;
}

a:hover,
#dark-mode-toggle:hover {
    /* background-color: var(--hovercolor); */
    color: var(--hovercolor);
    cursor: pointer;
    border-color: var(--hovercolor);
}

.list-item {
    padding-bottom: 2.5rem;
}

.list-item:first-of-type {
    padding-top: 1rem;
}

.list-item:last-of-type {
    padding-bottom: 0rem;
}

ul {
    list-style: none;
    padding-left: 2ch;
}

ul li {
    text-indent: -2ch;
}

ul>li::before {
    content: '‣ ';
    font-weight: bold;
}

/* Images */
img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    text-align: center;
    display: block;
    margin: 0.7rem auto;
}

figure img {
    max-height: 500px;
}

@media screen and (min-width: 600px) {
    figure {
        padding: 0 40px;
    }
}

figure h4 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1em;
}

figure h4::before {
    content: '↳ ';
}

.invert img {
    filter: invert(0);
}

/* Code blocks */
code {
    background-color: #f1f1f1;
    padding: .1em .2em;
}

pre {
    background-color: #ececec;
    line-height: 1.4;
    overflow-x: auto;
    padding: 1em;
}

.highlight pre ::selection {
    background: rgba(255, 255, 255, 0.2);
    color: inherit;
}

pre code {
    background-color: transparent;
    color: inherit;
    font-size: 100%;
    padding: 0;
}

/* Containers */
.content {
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 1ch;
    word-wrap: break-word;
}

/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;
    line-height: 2.5em;
    font-weight: 500;
}

header .main {
    font-size: 1.5rem;
}

h1 {
    font-size: 1.3rem;
    margin-top: 2em;
    padding-right: 1rem;
    font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2em;
}

h1::before {
    color: var(--maincolor);
    content: '# ';
}

h2::before {
    color: var(--maincolor);
    content: '## ';
}

h3::before {
    color: var(--maincolor);
    content: '### ';
}

h4::before {
    color: var(--maincolor);
    content: '#### ';
}

h5::before {
    color: var(--maincolor);
    content: '##### ';
}

h6::before {
    color: var(--maincolor);
    content: '###### ';
}

.meta {
    color: #999;
    letter-spacing: -0.5px;
}

/* Footer */
footer {
    display: flex;
    align-items: left;
    border-top: 0.4rem dotted var(--bordercl);
    padding: 2rem 0rem;
    margin-top: 2rem;
}

.border {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid;
}

.footer-info {
    padding: var(--footer-padding);
}

.soc {
    height: 1.4em;
}

/* .soc:hover {
    color: white;
} */

/* Common */
.title h1 {
    margin-bottom: 0;
}

time {
    color: grey;
}

/* Posts */
article .title {
    margin-bottom: 1em;
}


/* Callout */
.callout {
    background-color: var(--callouctcolor);
    color: #fff;
    padding: 1em;
}

.callout p {
    font-family: 'Inconsolata', monospace;
    margin: 0;
}

/* .callout a {
    border-bottom: 3px solid #fff;
}

.callout a:hover {
    background-color: #fff;
    color: var(--callouctcolor);
} */

.site-description {
    display: flex;
    justify-content: space-between;
}

.tags li::before {
    content: "🏷️ ";
}

/* .tags a {
    border-bottom: 3px solid var(--maincolor);
}

.tags a:hover {
    color: white;
    background-color: var(--hovercolor);
} */

svg {
    max-height: 15px;
}

.draft-label {
    color: var(--bordercl);
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.highlight {
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"] {
    -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"]::before {
    background: black;
    border-radius: 0 0 0.25rem 0.25rem;
    color: white;
    font-size: 12px;
    letter-spacing: 0.025rem;
    padding: 0.1rem 0.5rem;
    position: absolute;
    right: 1rem;
    text-align: right;
    text-transform: uppercase;
    top: 0;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
    content: "js";
    background: #f7df1e;
    color: black;
}

.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
    content: 'yaml';
    background: #f71e6a;
    color: white;
}

.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
    content: 'shell';
    background: green;
    color: white
}

.highlight pre code[class*='language-json']::before {
    content: 'json';
    background: dodgerblue;
    color: #000000
}

.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
    content: 'py';
    background: blue;
    color: yellow;
}

.highlight pre code[class*='language-css']::before {
    content: 'css';
    background: cyan;
    color: black;
}

.highlight pre code[class*='language-go']::before {
    content: 'Go';
    background: cyan;
    color: royalblue;
}

.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before {
    content: 'Markdown';
    background: royalblue;
    color: whitesmoke;
}

/* table */
table {
    border-spacing: 0;
    border-collapse: collapse;
}

table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    font-size: large;
}

table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}