{{ if .Params.math }}{{ partial "helpers/katex.html" . }}{{ end }}

<header>
	<div class="main">
		<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	</div>
	<nav>
		{{ range .Site.Menus.main }}
		<a href="{{ .URL }}">{{ .Name }}</a>
		{{ end }}
		{{ if eq .Site.Params.mode "toggle" -}}
        | <span id="dark-mode-toggle" onclick="toggleTheme()"></span>
		<script src="{{ .Site.BaseURL }}/js/themetoggle.js"></script>
		{{ end }}
	</nav>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
            delimiters: [
                { left: "$$", right: "$$", display: true },
                { left: "$", right: "$", display: false }
            ]
        });
    });
</script>

